# ==== Maven 编译产物 ====
target/
*.class

# ==== IntelliJ IDEA 配置文件 ====
.idea/
*.iml
*.ipr
*.iws

# ==== 日志文件 ====
*.log

# ==== 操作系统生成的垃圾文件 ====
.DS_Store
Thumbs.db

# ==== 测试文件 ====
**/src/test/**

#其它文件
compiler.xml
jarRepositories.xml